[test]
# If your host isn't 'localhost', you'll need to change the connection
# string in DBConenction.inc to 'mysql:host=example', due to a PHP bug
host=localhost
database=test
user=test
password=test
default-character-set=utf8
